.loader-animation {
	display: none;
	position: relative;
	width: 50px;
	height: 50px;
}

.loader-animation div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #00c3ff;
	animation: loader-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader-animation div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}

.loader-animation div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}

.loader-animation div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}

@keyframes loader-animation {
	0% {
		top: 8px;
		height: 64px;
	}
	50%,
	100% {
		top: 24px;
		height: 32px;
	}
}
